<div class="container-fluid p-4">
  <h2>Teachers</h2>
  <div class="row mt-3">
    <div class="col-3">
      <input
        class="form-control"
        placeholder="Please enter name"
        [(ngModel)]="name"
      />
    </div>
    <button type="button" class="btn btn-primary" (click)="addTeacher()">
      Add Teacher
    </button>
  </div>
  <div class="mt-4">
    <div class="mb-3">
      <input
        class="form-control"
        placeholder="Search..."
        [(ngModel)]="searchText"
        (input)="filterProjects(searchText)"
      />
    </div>
    <ag-grid-angular
      style="width: 100%; height: 400px"
      class="ag-theme-alpine"
      [rowData]="teachers"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
  </div>
</div>
