<h3>Courses</h3>
<div class="row mt-3 mb-3">
  <div class="col-3">
    <input
      class="form-control"
      placeholder="Please enter name"
      [(ngModel)]="name"
    />
  </div>
  <button type="button" class="btn btn-primary" (click)="addCourse()">
    Add Course
  </button>
</div>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses; let index = index">
      <td style="vertical-align: middle">{{ index + 1 }}</td>
      <td style="vertical-align: middle">
        {{ course.name }}
      </td>
      <td>
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="removeCourse(course)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
